.asee-header, .menu {
    background-color: #182c51 !important;
    color: mintcream;
}

.menu > li > a {
    color: mintcream;
}

.menu > .asee-menu-option:hover {
    background-color: #254b6e;
}

#asee-main {
    padding-left: 1em;
    padding-right: 1em;
}

.asee-section {
    padding: 0.25em;
    margin-top: 0.5em;
    background-color: white;
}

.asee-banner {
    padding-top: 4em;
    padding-bottom: 4em;
    background: url('../images/engrquad.jpg') no-repeat center center;
    background-size: cover;
}

.asee-banner h2, .asee-banner h4 {
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

a {
  font-size: 20px
}
